* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}
body {
  background-color: #eccbcb;
}
.navbar {
  height: 60px;
  color: white;
  background-color: #fa7203;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-logo {
  height: 60px;
  width: 120px;
}

.logo {
  background: url("/assests/amazon_logo.png");
  height: 60px;
  width: 120px;
  background-size: 100% 100%;
}

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
}

/* box 2*/
.nav-address {
  padding: 6px;
}
.add-first {
  font-size: 14px;
  margin-left: 19px;
}

.add-second {
  font-size: 16px;
}

.add-icon {
  display: flex;
  align-items: center;
}

/* box3 */
.nav-search {
  display: flex;
  background-color: pink;
  width: 620px;
  border-radius: 5px;
  height: 40px;
}
.nav-search:hover {
  border: 2px solid orange;
}

.search-select {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #0f1111;
  background-color: #e6e6e6;
  font-size: 14px;
  text-align: center;
  width: 52px;
  border: none;
}

.search-input {
  width: 555px;
  padding: 7px 10px 10px 0;
  font-size: 1rem;
  border: none;
  outline: none;
}

.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  background-color: #febd68;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #0f1111;
}

.nav-language {
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: 600;
  margin-left: 15px;
}

/* box4 */
.nav-signin {
  padding: 6px;
}
span {
  font-size: 0.7rem;
}
.nav-second {
  font-size: 0.85rem;
  font-weight: 700;
}
/* box5 */
.nav-return {
  padding: 6px;
}
/* box6 */
.nav-cart i {
  font-size: 30px;
}
.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
  padding: 6px;
}

/* panel */
.panel {
  display: flex;
  height: 39px;
  background-color: rgb(252, 157, 94);
  align-items: center;
  padding-left: 11px;
  justify-content: space-evenly;
  color: black;
}

.panel-all {
  padding: 6px;
}

.panel-ops {
  width: 80%;
  display: flex;
  align-items: center;
}

.panel-ops span {
  font-size: 0.85rem;
  margin-left: 10px;
  height: 30px;
  padding-top: 10px;
}
.panel-details {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 6px;
}

/* header section */
.header-slider ul {
  margin-top: 0px;
  display: flex;
  overflow-y: hidden;
}

.header-slider a {
  position: absolute;
  top: 20%;
  padding: 5vh 1vw;
  z-index: 1;
  background-color: #ffffff4f;
  color: #0000007b;
  text-decoration: none;
  font-size: 29px;
  font-weight: 900;
  cursor: pointer;
}
.control_next {
  right: 0;
}
.header-img {
  max-width: 100%;
  mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
}

/* Box section */
.box-row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-evenly;
  margin: 20px 30px;
}

.box-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 20px;
  background: #fff;
  max-width: 20%;
  min-width: 200px;
  z-index: 1;
}

.box-col a {
  font-size: 14px;
  color: #009999;
  font-weight: 500;
}

.header-box {
  margin-top: -20vh;
}

/* product slider */

.products-slider {
  background: white;
  margin: 0 30px;
  padding: 20px;
  margin-bottom: 15px;
}

.products-slider .products {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  margin-top: 10px;
}

.products-slider .products img {
  max-width: 200px;
  max-height: 200px;
}
.products::-webkit-scrollbar {
  display: none;
}
.products-slider-with-price {
  background: white;
  margin: 0 30px;
  padding: 20px;
  margin-bottom: 10px;
}
.products-slider-with-price .products-with-price {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  margin-top: 10px;
}
.products-slider-with-price .products-with-price::-webkit-scrollbar {
  display: none;
}

/* Arrows Hidden by Default
.hover-slider .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 20px 10px;
  font-size: 30px;
  cursor: pointer;
  display: none; /* <-- Hide by default */
/* z-index: 5;} */

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 210px;
  background: #fbfbfb;
}

.product-card img {
  width: 110px;
  margin: 0 50px;
}
.product-offer p {
  background: #be0b3b;
  color: white;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 2px;
  margin: 8px 0;
  font-size: 13px;
}

.product-offer span {
  color: #be0b3b;
  font-weight: 500;
  font-size: 12px;
}

.product-price {
  color: gray;
  font-size: 13px;
}

.product-card h4 {
  color: #525252;
  font-weight: 400;
  font-size: 15px;
}
.products-with-price::-webkit-scrollbar {
  display: none;
}

/** footer section **/

.foot-panel1 {
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  cursor: pointer;
}

.foot-panel2 {
  background-color: #37475a;
  color: white;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}

ul {
  margin-top: 20px;
}

ul a {
  text-decoration: none;
  color: inherit;
  display: block;
  margin-top: 10px;
  font-size: 0.85rem;
  color: #dddddd;
}

ul p {
  font-weight: bold;
}

.foot-panel3 {
  background-color: #37475a;
  color: white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot-logo {
  background-image: url("/assests/amazon_logo.png");
  height: 50px;
  background-size: cover;
  width: 90px;
}

.foot-panel4 {
  background-color: #37475a;
  color: white;
  height: 80px;
  text-align: center;
  font-size: 0.85rem;
}
.pages a {
  color: inherit;
  text-decoration: none;
}
.pages {
  padding-top: 15px;
}
.copyright {
  padding-top: 5px;
}
